.Footer{
    background-image:url(https://static.vecteezy.com/system/resources/previews/007/523/339/original/abstract-colorful-hand-painted-watercolor-splashing-background-free-vector.jpg);
    padding: 20px;
    padding-bottom: 0%;

    h6{
        font-family: $fontFamilyForTitle;
    }
    p,li{
        font-family: $fontFamilyText;
    }
}