@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Preahvihear&family=Tilt+Prism&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Preahvihear&family=Tilt+Prism&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat&family=Preahvihear&family=Tilt+Prism&display=swap");
@import "https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css";
@import "https://fonts.googleapis.com/css2?family=Exo+2:wght@300;500;700&display=swap";
.bg-body-tertiary {
  background-image: url(https://static.vecteezy.com/system/resources/previews/007/523/339/original/abstract-colorful-hand-painted-watercolor-splashing-background-free-vector.jpg);
  height: 600px;
  align-items: center;
}
.bg-body-tertiary .brand {
  border-radius: 20px;
}
.bg-body-tertiary h3, .bg-body-tertiary p {
  text-align: center;
  font-family: "Tilt Prism";
}
.bg-body-tertiary .me-auto {
  text-align: center;
  display: flex;
  width: 75%;
}
.bg-body-tertiary .me-auto .link {
  justify-content: space-between;
  width: 200px;
  font-family: "Abril Fatface";
}
.bg-body-tertiary .me-auto .link:nth-child(2n) {
  color: #944c76;
  text-shadow: 2px 2px 4px rgb(234, 186, 234);
  background-color: rgb(234, 186, 234);
}
.bg-body-tertiary .me-auto .link:nth-child(2n):hover {
  background-color: #fff;
  box-shadow: 2px 2px 2px 2px inset rgb(234, 186, 234);
}
.bg-body-tertiary .me-auto .link:nth-child(2n-1) {
  color: rgb(234, 140, 234);
  text-shadow: 2px 2px 4px rgb(234, 186, 234);
  background-color: #fde3f2;
}
.bg-body-tertiary .me-auto .link:nth-child(2n-1):hover {
  background-color: #fff;
  box-shadow: 2px 2px 2px 2px inset #fde3f2;
}
.bg-body-tertiary .LoggedIn {
  display: flex;
  text-align: center;
  align-items: center;
  text-decoration: none;
  color: antiquewhite;
  gap: 13px;
  margin-top: 20px;
}
.bg-body-tertiary .LoggedIn .name {
  text-decoration: none;
}
.bg-body-tertiary .LoggedIn h5 {
  color: black;
  text-decoration: none;
  font-family: "Tilt Prism", cursive;
}
.bg-body-tertiary .LoggedIn img {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  cursor: pointer;
}
.bg-body-tertiary .LoggedIn .signout-icon {
  height: 30px;
  cursor: pointer;
  transition: transform 0.5s;
  transform: rotate(0deg);
}
.bg-body-tertiary .LoggedIn .signout-icon:hover {
  transition: transform 0.5s;
  transform: rotate(90deg);
}
.bg-body-tertiary .NotLoggedIn img {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.Admin {
  background-color: black;
  margin-left: 0;
  padding: 20px;
  font-family: "Preahvihear";
}

.Footer {
  background-image: url(https://static.vecteezy.com/system/resources/previews/007/523/339/original/abstract-colorful-hand-painted-watercolor-splashing-background-free-vector.jpg);
  padding: 20px;
  padding-bottom: 0%;
}
.Footer h6 {
  font-family: "Abril Fatface";
}
.Footer p, .Footer li {
  font-family: "Preahvihear";
}

.AllSports {
  min-height: 100vh;
  display: grid;
  align-content: center;
  gap: 2rem;
  padding: 2rem;
  font-family: "Exo 2", "Abril Fatface";
  color: rgb(30, 30, 30);
  background: rgb(233, 185, 185);
}
.AllSports h1 {
  text-align: center;
}
.AllSports ol {
  width: min(60rem, 90%);
  margin-inline: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  counter-reset: stepnr;
}
.AllSports ol .poster-link {
  color: #944c76;
}
.AllSports ol li {
  counter-increment: stepnr;
  width: 18rem;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 4rem;
  position: relative;
}
.AllSports ol li::before {
  inset: 0;
  position: absolute;
  border-radius: 50%;
  border: 2rem solid rgb(244, 105, 105);
  line-height: 1.1;
  content: counter(stepnr);
  padding-left: 10rem;
  font-size: 12rem;
  font-weight: 700;
  overflow: hidden;
}
.AllSports ol li::after {
  inset: 0;
  position: absolute;
  border-radius: 50%;
  border: 2rem solid rgb(202, 159, 159);
  line-height: 1.1;
  content: "";
  filter: drop-shadow(-0.25rem 0.25rem 0.0675rem rgba(0, 0, 0, 0.75)) blur(5px);
}
.AllSports ol li > * {
  width: 7.5rem;
}
.AllSports ol li .icon {
  text-align: center;
}
.AllSports ol li .icon img {
  width: 70%;
}
.AllSports ol li .title {
  font-size: 1.2rem;
  font-weight: 500;
}
.AllSports ol li .descr {
  font-size: 0.8rem;
  font-weight: 300;
}

.SportDetails {
  text-align: center;
  align-items: center;
  height: 60vh;
}
.SportDetails .container {
  height: 90%;
  border-radius: 10%;
  display: flex;
  gap: 10px;
  background-color: #fff;
}
.SportDetails .container .first {
  flex: 50%;
  padding: 30px;
  border-radius: 20%;
}
.SportDetails .container .first h1 {
  font-family: "Abril Fatface";
  color: white;
  text-shadow: 2px 2px #E91E63;
}
.SportDetails .container .first .poster {
  border-radius: 20%;
  box-shadow: 0 5px 25px 0 rgba(233, 30, 99, 0.5);
  border-style: dashed;
  margin: 30px;
  height: 200px;
  width: 200px;
}
.SportDetails .container .first .timer {
  margin: 3rem 0;
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  height: 12%;
  justify-content: center;
  align-items: center;
}
.SportDetails .container p {
  border-radius: 20%;
  height: 100%;
  padding: 10%;
  flex: 50%;
  font-family: "Preahvihear";
  text-align: center;
}
.SportDetails .container .timer button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0.2em solid #E91E63;
  background: hsla(0, 0%, 0%, 0);
  padding: 0.85em 1.5em;
  color: #E91E63;
  border-radius: 2em;
  transition: 1s;
}
.SportDetails .container .timer button:hover, .SportDetails .container .timer button:focus, .SportDetails .container .timer button:active {
  background: #E91E63;
  color: #fff;
}
.SportDetails .container .timer h1 {
  padding: 30px;
  display: block;
}

.AllWeeks {
  text-align: center;
  padding: 20px;
  height: 500px;
  display: flex;
  flex-direction: row;
}
.AllWeeks .slide {
  height: 400px;
  width: 400px;
}
.AllWeeks img {
  float: left;
  border-radius: 30%;
  margin-right: 30px;
  margin-bottom: 30px;
}
.AllWeeks .direction {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.AllWeeks .direction h1 {
  font-family: "Preahvihear";
  color: rgb(182, 224, 212);
  text-shadow: 2px 2px 2px black;
}
.AllWeeks .direction p {
  text-align: left;
  font-size: 1.5rem;
  height: 250px;
  margin: 10px;
  font-family: "Caveat";
}
.AllWeeks .direction .pagination {
  justify-content: center;
  margin: 0;
  padding: 10px;
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.5);
}

.AllPosts {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.AllPosts .myPosts {
  display: grid;
}
.AllPosts .myPosts .card {
  color: rgb(234, 140, 234);
  font-family: "Preahvihear";
  background-color: #fde3f2;
  text-decoration: none;
}
.AllPosts .myPosts .mb-3 {
  width: 70vw;
  cursor: pointer;
  transition: transform 0.3s;
  transform: translateX(0px);
}
.AllPosts .myPosts .mb-3:hover {
  transition: transform 0.3s;
  transform: translateX(30px);
}
.AllPosts .myPosts .mb-3 .delete {
  height: 30px;
  color: rgb(234, 140, 234);
  background-color: rgb(116, 96, 107);
  box-shadow: 2px inset #944c76;
}
.AllPosts .myPosts .mb-3 .delete:hover {
  height: 40px;
  box-shadow: rgb(234, 140, 234) 3px 3px 6px 0px inset, white -3px -3px 6px 1px inset;
}
.AllPosts .myFilters {
  width: 30vw;
  margin-left: 20px;
  margin-right: 10px;
  height: 1200px;
  border: #d0e2bc;
  background-color: rgba(255, 255, 255, 0.7);
}
.AllPosts .myFilters h5 {
  text-align: center;
  background-color: rgb(182, 224, 212);
  font-family: "Abril Fatface";
}
.AllPosts .myFilters label {
  font: 1em "Abril Fatface";
}
.AllPosts .myFilters input {
  font: 1em "Preahvihear";
}
.AllPosts .myFilters .search button {
  padding: 0;
  float: right;
  border-radius: 0%;
}
.AllPosts .myFilters .search button img {
  width: 30px;
  height: 30px;
}
.AllPosts .myFilters .search span {
  color: red;
}
.AllPosts .myFilters input[type=text] {
  width: 100%;
  padding: 5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  border-bottom: 0.2em solid #944c76;
  background: rgba(233, 30, 99, 0.2);
  border-radius: 0.2em 0.2em 0 0;
  padding: 0.4em;
  color: rgb(116, 96, 107);
}
.AllPosts .myFilters input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #E91E63;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
.AllPosts .myFilters input[type=checkbox]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #E91E63;
  background-color: CanvasText;
  -webkit-clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
          clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform-origin: left top;
}
.AllPosts .myFilters input[type=checkbox]:checked::before {
  transform: scale(1);
}
.AllPosts .myFilters button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0.2em solid #E91E63;
  background: hsla(0, 0%, 0%, 0);
  padding: 0.85em 1.5em;
  color: #E91E63;
  border-radius: 2em;
  transition: 1s;
}
.AllPosts .myFilters button:hover, .AllPosts .myFilters button:focus, .AllPosts .myFilters button:active {
  background: #E91E63;
  color: #fff;
}
.AllPosts .myFilters .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.AllPosts .myFilters .container input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  margin: 0;
  color: #944c76;
  width: 0.75em;
  height: 0.75em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  display: grid;
  place-content: center;
}
.AllPosts .myFilters .container input[type=radio]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #E91E63;
  background-color: CanvasText;
  transform-origin: top bottom;
}
.AllPosts .myFilters .container input[type=radio]:checked::before {
  transform: scale(1);
}
.AllPosts .myFilters .container span {
  font-style: 0.5rem;
  padding-left: 1px;
}

.post {
  min-height: 100vh;
  width: 100%;
}
.post *, .post *:before, .post *:after {
  box-sizing: border-box;
}
@media (min-width: 54em) {
  .post {
    display: flex;
    height: 100vh;
    min-height: 40em;
  }
}
.post > *:first-child {
  position: relative;
  height: 14em;
  background-color: #fde3f2;
}
@media (min-width: 30em) {
  .post > *:first-child {
    height: 18em;
  }
}
@media (min-width: 54em) {
  .post > *:first-child {
    flex-basis: 50%;
    max-width: 50%;
    height: auto;
  }
}
@media (min-width: 76.5em) {
  .post > *:first-child {
    flex-basis: 50%;
    max-width: 50%;
  }
}
@media (min-width: 54em) {
  .post > *:nth-child(2) {
    flex-basis: 60%;
    max-width: 60%;
  }
}
@media (min-width: 76.5em) {
  .post > *:nth-child(2) {
    flex-basis: 60%;
    max-width: 60%;
  }
}
.post .absolute-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  animation: fade-in 0.8s ease-in-out both 1s;
}
.post__content {
  position: relative;
  padding: 1em 0;
}
.post__content h1 {
  margin-top: 0;
  margin-bottom: 0.25em;
  font-size: 2em;
  font-weight: 600;
  line-height: 0.9;
  font-family: "Abril Fatface";
  color: #944c76;
}
.post__content p {
  margin: 0;
  color: rgb(116, 96, 107);
}
.post__content .olcards {
  list-style: none;
  counter-reset: cardCount;
  font-family: "Preahvihear";
  display: flex;
  flex-direction: column;
  --cardsGap: 1rem;
  gap: var(--cardsGap);
  padding-bottom: var(--cardsGap);
}
.post__content .olcards li {
  counter-increment: cardCount;
  display: flex;
  color: white;
  --cardColor:#944c76;
  --labelOffset: 0.60rem;
  --arrowClipSize: 1.3rem;
  margin-top: var(--labelOffset);
}
.post__content .olcards li::before {
  content: counter(cardCount, decimal-leading-zero);
  background: white;
  color: var(--cardColor);
  font-size: 1em;
  font-weight: 700;
  transform: translateY(calc(-1 * var(--labelOffset)));
  margin-right: calc(-1 * var(--labelOffset));
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 0.5em;
}
.post__content .olcards li .content {
  background-color: var(--cardColor);
  --inlinePadding: 1em;
  --boxPadding: 0.5em;
  display: grid;
  padding: var(--boxPadding) calc(var(--inlinePadding) + var(--arrowClipSize)) var(--boxPadding) calc(var(--inlinePadding) + var(--labelOffset));
  grid-template-areas: "icon title" "icon text";
  gap: 0.25em 1em;
  -webkit-clip-path: polygon(0 0, calc(100% - var(--arrowClipSize)) 0, 100% 50%, calc(100% - var(--arrowClipSize)) 100%, calc(100% - var(--arrowClipSize)) calc(100% + var(--cardsGap)), 0 calc(100% + var(--cardsGap)));
          clip-path: polygon(0 0, calc(100% - var(--arrowClipSize)) 0, 100% 50%, calc(100% - var(--arrowClipSize)) 100%, calc(100% - var(--arrowClipSize)) calc(100% + var(--cardsGap)), 0 calc(100% + var(--cardsGap)));
  position: relative;
}
.post__content .olcards li .content::before {
  content: "";
  position: absolute;
  width: var(--labelOffset);
  height: var(--labelOffset);
  background: var(--cardColor);
  left: 0;
  bottom: 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
          clip-path: polygon(0 0, 100% 0, 0 100%);
  filter: brightness(0.75);
}
.post__content .olcards li .content::after {
  content: "";
  position: absolute;
  height: var(--cardsGap);
  width: var(--cardsGap);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.25), transparent 50%);
  left: 0;
  top: 100%;
}
.post__content .olcards li .text {
  grid-area: text;
}
.post__content .comment {
  align-items: center;
  display: flex;
  width: 100%;
  padding-top: 30px;
  position: relative;
}
.post__content .comment textarea {
  width: 300px;
  padding: 10px;
  border-left: 6px solid #095484;
  background-color: #d0e2bc;
  font: 1.4em/1.6em cursive;
  color: rgb(116, 96, 107);
}
.post__content .comment span {
  color: red;
  display: block;
  font-family: "Abril Fatface";
}
.post__content .comment button {
  width: 10%;
  height: 100%;
  border: none;
}
.post__content .comment button:hover {
  box-shadow: 2px 2px 2px #E91E63;
  height: 105%;
}
@media (min-width: 54em) {
  .post__content {
    padding: 0 4em;
  }
}
.post__header {
  overflow: hidden;
}
.post__header span {
  display: inline-block;
  animation: slide-up 0.8s ease-in-out both;
}
.post__text {
  font-weight: 300;
  animation: fade-in 0.8s ease-in-out both 0.5s;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.Auth-signin-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96vw;
  height: 70vh;
  padding-right: 30px;
  background-image: url(https://garden.spoonflower.com/c/9909895/p/f/m/2iH65VDiTvgzoBCijZYQWSSoo5kTuBcbbMveLO0Qo5ZiB4JBO3ojjjgD/nurse%20-%20multi%20baby%20feet%20-%20pink%2Fblue%2Fgrey%20-%20nursing%20-%20LAD20.jpg);
}
.Auth-signin-form img {
  height: 400px;
  width: 50vw;
}
.Auth-signin-form .Auth-form {
  width: 50vw;
  box-shadow: rgba(0, 0, 0, 0.16) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: rgba(253, 227, 242, 0.7);
}
.Auth-signin-form .Auth-form .Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}
.Auth-signin-form .Auth-form .Auth-form-content .Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: #944c76;
  font-weight: 800;
  font-family: "Abril Fatface";
}
.Auth-signin-form .Auth-form .Auth-form-content label {
  font-size: 14px;
  font-weight: 600;
  font-family: "Abril Fatface";
  color: #944c76;
}
.Auth-signin-form .Auth-form .Auth-form-content input {
  font-family: "Caveat";
}
.Auth-signin-form .Auth-form .Auth-form-content input:focus {
  background-color: rgb(182, 224, 212);
}
.Auth-signin-form .Auth-form .Auth-form-content .btn-primary {
  background-color: #944c76;
}
.Auth-signin-form .Auth-form .Auth-form-content p {
  font-family: "Abril Fatface";
  color: #944c76;
  text-align: center;
}

.Auth-signup-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96vw;
  height: 120vh;
  padding-right: 30px;
  background-image: url(https://garden.spoonflower.com/c/9909895/p/f/m/2iH65VDiTvgzoBCijZYQWSSoo5kTuBcbbMveLO0Qo5ZiB4JBO3ojjjgD/nurse%20-%20multi%20baby%20feet%20-%20pink%2Fblue%2Fgrey%20-%20nursing%20-%20LAD20.jpg);
}
.Auth-signup-form img {
  height: 400px;
  width: 50vw;
}
.Auth-signup-form .Auth-form {
  width: 50vw;
  box-shadow: rgba(0, 0, 0, 0.16) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: rgba(253, 227, 242, 0.7);
}
.Auth-signup-form .Auth-form .Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}
.Auth-signup-form .Auth-form .Auth-form-content label {
  font-family: "Abril Fatface";
}

.profileDetails {
  font-family: "Preahvihear";
  margin: 20px;
}
.profileDetails input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  border-bottom: 0.2em solid #E91E63;
  background: rgba(233, 30, 99, 0.2);
  border-radius: 0.2em 0.2em 0 0;
  padding: 0.4em;
  color: #E91E63;
}
.profileDetails .my-4 {
  background-color: #fff;
  justify-items: center;
  align-items: center;
}
.profileDetails .my-4 .avatar-xl {
  justify-items: center;
  text-align: center;
  align-items: center;
}
.profileDetails .my-4 .avatar-xl img {
  vertical-align: middle;
  border-style: groove;
}
.profileDetails .my-4 .avatar-xl .rounded-circle {
  width: 110px;
  border-radius: 50% !important;
}
.profileDetails .my-4 .avatar-xl .score {
  width: 120px;
  text-align: center;
  height: 120px;
  padding: 20px;
  margin: 20px;
  font-size: medium;
  border-style: dashed;
  background-color: #fff;
}
.profileDetails .my-4 .avatar-xl .score img {
  height: 60px;
  width: 55px;
}
.profileDetails .my-4 .text-muted {
  color: black !important;
  font-weight: 300;
}
.profileDetails .my-4 input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  border-bottom: 0.2em solid #E91E63;
  background: rgba(233, 30, 99, 0.2);
  border-radius: 0.2em 0.2em 0 0;
  padding: 0.4em;
  color: #E91E63;
}

.HomePage .LoginForm {
  background-color: #fff;
  display: flex;
  margin: 0;
  width: 100%;
  flex-direction: row;
  height: 60vh;
  text-align: center;
  align-items: center;
}
.HomePage .LoginForm .photo1 {
  width: 40vw;
  background-image: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSNTTBwwz4yqXVsjbXoUGOb_QCeJr8DzmC-LVMUpRsQik-LcL7c);
  background-size: cover;
  box-shadow: 0 0 8px 8px white inset;
  height: 100%;
  padding: 0%;
}
.HomePage .LoginForm .aboutUs {
  padding: 50px;
}
.HomePage .LoginForm .aboutUs button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0.2em solid #E91E63;
  background: hsla(0, 0%, 0%, 0);
  padding: 0.85em 1.5em;
  color: #E91E63;
  border-radius: 2em;
  transition: 1s;
}
.HomePage .LoginForm .aboutUs button:hover, .HomePage .LoginForm .aboutUs button:focus, .HomePage .LoginForm .aboutUs button:active {
  background: #E91E63;
}
.HomePage .LoginForm .aboutUs button:hover a, .HomePage .LoginForm .aboutUs button:focus a, .HomePage .LoginForm .aboutUs button:active a {
  color: white;
}
.HomePage .LoginForm .aboutUs button a {
  color: #000;
}
.HomePage .LoginForm .aboutUs h1 {
  font-family: "Tilt Prism";
  font-size: 5rem;
  color: #E91E63;
}
.HomePage .LoginForm .aboutUs h3 {
  font-family: "Tilt Prism";
  font-size: 2rem;
}
.HomePage .LoginForm .aboutUs p {
  font-family: "Preahvihear";
}
.HomePage .divider {
  display: flex;
  font-family: "Caveat";
}
.HomePage .divider:before, .HomePage .divider:after {
  content: "";
  flex: 1;
}
.HomePage .line {
  align-items: center;
  margin: 1em -1em;
}
.HomePage .line:before, .HomePage .line:after {
  height: 0.7px;
  margin: 0 1em;
}
.HomePage .glow:before, .HomePage .glow:after {
  height: 4px;
  border-radius: 5px;
}
.HomePage .glow:before {
  background: linear-gradient(to right, blue, hotpink);
}
.HomePage .glow:after {
  background: linear-gradient(to left, blue, hotpink);
}
.HomePage .calculator {
  background-color: #fff;
  display: flex;
  margin: 0;
  width: 100%;
  flex-direction: row;
  height: 80vh;
  text-align: center;
  align-items: center;
}
.HomePage .calculator .photo2 {
  width: 50vw;
  background-image: url("https://www.parents.com/thmb/h6-Fo24cqYBGvZG1fFnQj1uhwI4=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/GettyImages-1225075424-2000-94d7b2c5282f4893940c2edf1c16d47e.jpg");
  background-size: cover;
  box-shadow: 0 0 8px 8px white inset;
  height: 100%;
  padding: 0%;
}
.HomePage .calculator form {
  width: 50vw;
  align-items: center;
  display: block;
}
.HomePage .calculator form input[type=date] {
  border: 0.2em solid #E91E63;
  padding: 0.8em 0.9em;
  border-radius: 2em;
  color: #E91E63;
}
.HomePage .calculator form input[type=date]::-webkit-datetime-edit {
  padding: 1em;
}
.HomePage .calculator form input[type=date]::-webkit-datetime-edit-fields-wrapper {
  background: rgba(233, 30, 99, 0.2);
}
.HomePage .calculator form input[type=date]::-webkit-datetime-edit-text {
  color: red;
  padding: 0 0.3em;
}
.HomePage .calculator form input[type=date]::-webkit-datetime-edit-month-field {
  color: #E91E63;
}
.HomePage .calculator form input[type=date]::-webkit-datetime-edit-day-field {
  color: #E91E63;
}
.HomePage .calculator form input[type=date]::-webkit-datetime-edit-year-field {
  color: #E91E63;
}
.HomePage .calculator form input[type=date]::-webkit-inner-spin-button {
  display: none;
}
.HomePage .calculator form input[type=date]::-webkit-calendar-picker-indicator {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23E91E63' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Crect x='3' y='4' width='18' height='18' rx='2' ry='2'/%3E%3Cline x1='16' y1='2' x2='16' y2='6'/%3E%3Cline x1='8' y1='2' x2='8' y2='6'/%3E%3Cline x1='3' y1='10' x2='21' y2='10'/%3E%3C/svg%3E");
}
.HomePage .calculator form p {
  font-family: "Caveat";
}
.HomePage .calculator form button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: hsla(0, 0%, 0%, 0);
  padding: 0.85em 1.5em;
  color: #E91E63;
  border-radius: 2em;
  transition: 1s;
}
.HomePage .calculator form button:hover, .HomePage .calculator form button:focus, .HomePage .calculator form button:active {
  background: #E91E63;
  border: 0.2em solid white;
}
.HomePage .calculator form button img {
  height: 50px;
  width: 50px;
}
.HomePage .calculator form input[type=text] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  text-align: center;
  width: 300px;
  outline: none;
  border-bottom: 0.2em solid #E91E63;
  background: rgba(233, 30, 99, 0.2);
  border-radius: 0.2em 0.2em 0 0;
  padding: 0.4em;
  font-family: "Preahvihear";
  color: #E91E63;
}
.HomePage .calculator form .daysLeft {
  margin-left: 40%;
  height: 130px;
  width: 130px;
  box-shadow: 0 0 10px 10px white inset;
  font-family: "Caveat";
  padding-top: 60px;
  text-align: center;
  background-size: cover;
  background-image: url(https://images.rawpixel.com/image_400/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTExL3JtNDY3YmF0Y2gyLWNhbGVuZGFyLTAwMS14LmpwZw.jpg);
}
.HomePage .calculator form h5 {
  font-family: "Preahvihear";
}
.HomePage .calculator form .none {
  display: none;
}
.HomePage .calculator form .block {
  display: block;
}
.HomePage .posts {
  display: grid;
  grid-gap: 2rem;
  align-items: center;
  text-align: center;
  padding: 50px;
  grid-template-columns: repeat(auto-fit, 400px);
}
.HomePage .posts .poster-link {
  text-decoration: none;
  font-family: "Preahvihear";
}
.HomePage .posts .poster-link .card {
  align-items: center;
  background: #fde3f2;
  border-radius: 10px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  min-height: 200px;
  width: 400px;
}
.HomePage .posts .poster-link .card img {
  padding-top: 10px;
  height: 260px;
  width: 360px;
}

.FavoritePage {
  align-items: center;
  text-align: center;
  justify-content: center;
}
.FavoritePage th {
  font-family: "Preahvihear";
}
.FavoritePage h1 {
  padding: 100px;
  font-family: "Caveat";
}
.FavoritePage tr img {
  height: 100px;
  margin: 10px;
}
.FavoritePage tr .p {
  padding-top: 30px;
  font-size: medium;
  font-family: "Preahvihear";
}
.FavoritePage tr .delete {
  background-image: url(https://img.icons8.com/?size=2x&id=42794&format=png);
  background-size: cover;
  height: 50px;
  width: 50px;
}
.FavoritePage tr .delete:hover {
  background-image: url(https://img.icons8.com/?size=2x&id=o6l1jNrbK8C6&format=gif);
}
.FavoritePage tr .show {
  background-image: url(https://img.icons8.com/?size=2x&id=42866&format=png);
  background-size: cover;
  height: 50px;
  width: 50px;
}
.FavoritePage tr .show:hover {
  background-image: url(https://img.icons8.com/?size=2x&id=LckMp71rqORP&format=gif);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=validate.css.map */